# Core functionality - changes here should be rare!
/src/app.py                   @OlgaPelaez
/src/backend/database.py      @OlgaPelaez
/src/backend/routers/auth.py  @OlgaPelaez

# The frontend will need refactored soon to be more object oriented.
/src/static/   @OlgaPelaez
